# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================
venv/
.env

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Streamlit Cache
# ==========================================
.streamlit/

# ==========================================
# Temporary Output Images
# ==========================================
outputs/*
!outputs/.gitkeep

# ==========================================
# YOLO Training Runs
# ==========================================
runs/

# ==========================================
# Temporary Images
# ==========================================
temp_image.jpg